body {
    background-color: rgb(117, 172, 28);
}

.navbar {
    background-color: rgb(10, 206, 10);
    width: 500px;
    height: 50px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
}


.navbar a {
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(243, 255, 10);
}

.rad {
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}