body {
background-image: linear-gradient(to left , rgb(0, 0, 0), rgb(238, 255, 0));
}

.navbar {
    background-color:rgb(0, 0, 0);
    width: 550px;
    height: 50px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
}

 .navbar a:hover{
    background-color: yellow ;
    color: black;
    display: inline-block;
    padding: 5px 10px;

} 

.navbar a {
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(255, 248, 51);
   cursor: pointer;
}

/* .ener{
    height: 20vh;
    display: inline-block;
    width: 600px;
    margin: 0 auto;
}
.med{

}
.bmb{

}
.poli{

}
 */


.rad {
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}

 #text {

    top: 150px;
    left: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width:   750px;
    margin: 0 auto;
    height: 350px;
    border-radius: 30px;
     background-image: url("img/asfalto.avif");

}

#txt {
 
    height: 20vh;
    display: inline-block;
    width: 670px;
    margin: 0 auto;
    color: #dedede;
    }

    
 fieldset {
    color: rgb(212, 212, 212);
    width: 100px;
    border-radius: 20px;
  background-image: url("img/asfalto.avif");

}

.form {

    /* display: flex;   */
    margin: 0 auto;
    width: 650px;
  
}

.btn{
  background-color:  rgb(255, 248, 51);  
  height: 50px;
  width: 15pc;
  border-radius: 30px;
  margin: 0 auto;
}

.btn :hover{
 cursor: pointer;
background-color: rgb(245, 238, 41) ;
}

#hiper{
    color: #dedede ;
}